/* .input {
  font-size: 16px;
  transition: border-color 0.3s ease;
} */

.input {
  font-size: 16px;
  transition: border-color 0.3s ease; /* Smooth transition for border color */
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

.input:focus {
  border-color: #ffffff; /* Change border color on focus */
  outline: none; /* Remove default browser focus outline */
}
